.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
   
    margin-left: 50px;
    margin-right: 50px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}